.woof{
    .widget_price_filter .ui-slider{
        .ui-slider-range, .ui-slider-handle{
            background: $main-color !important;
            border-color: #ffffff !important;
        }
    }

    .woof_block_html_items{
        .select2{
            display:none;
        }
        .chosen-container-multi{
            width: 100% !important;
            .chosen-choices li.search-field input[type="text"]{
                min-height: 26px !important;
            }
        }
    }
}

