ul {

    &.woocommerce-error,
    &.woocommerce-message,
    &.woocommerce-info {
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
    }

    &.woocommerce-error li:not(:last-child),
    &.woocommerce-message li:not(:last-child),
    &.woocommerce-info li:not(:last-child) {
        margin-bottom: 15px;
    }

    &.woocommerce-error li .button,
    &.woocommerce-message li .button,
    &.woocommerce-info li .button {
        float: right;
        margin-top: 0;
        margin-right: 5px;
        margin-bottom: 0;
        margin-left: 5px;
    }
}

.wd-notice .vc_message_box-icon,
div.wpcf7-response-output .vc_message_box-icon,
.mc4wp-alert .vc_message_box-icon,
.woocommerce-error .vc_message_box-icon,
.woocommerce-message .vc_message_box-icon,
.woocommerce-info .vc_message_box-icon,
.dokan-alert .vc_message_box-icon,
.dokan-message .vc_message_box-icon,
.dokan-info .vc_message_box-icon,
.dokan-error .vc_message_box-icon,
.dokan-store-contact .alert-success .vc_message_box-icon,
.yith_ywraq_add_item_product_message .vc_message_box-icon {
    display: none;
}

.wd-notice,
div.wpcf7-response-output,
.mc4wp-alert,
.woocommerce-error,
.woocommerce-message,
.woocommerce-info,
.dokan-alert,
.dokan-message,
.dokan-info,
.dokan-error,
.dokan-store-contact .alert-success,
.yith_ywraq_add_item_product_message {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px; 
    min-height: 60px;
    border: none;
    color: #FFF;
    line-height: 1.3;
}


.wd-notice a,
div.wpcf7-response-output a,
.mc4wp-alert a,
.woocommerce-error a,
.woocommerce-message a,
.woocommerce-info a,
.dokan-alert a,
.dokan-message a,
.dokan-info a,
.dokan-error a,
.dokan-store-contact .alert-success a,
.yith_ywraq_add_item_product_message a {
    color: #FFF;
    text-decoration: underline;
}

.wd-notice a:hover,
div.wpcf7-response-output a:hover,
.mc4wp-alert a:hover,
.woocommerce-error a:hover,
.woocommerce-message a:hover,
.woocommerce-info a:hover,
.dokan-alert a:hover,
.dokan-message a:hover,
.dokan-info a:hover,
.dokan-error a:hover,
.dokan-store-contact .alert-success a:hover,
.yith_ywraq_add_item_product_message a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.wd-notice .amount,
div.wpcf7-response-output .amount,
.mc4wp-alert .amount,
.woocommerce-error .amount,
.woocommerce-message .amount,
.woocommerce-info .amount,
.dokan-alert .amount,
.dokan-message .amount,
.dokan-info .amount,
.dokan-error .amount,
.dokan-store-contact .alert-success .amount,
.yith_ywraq_add_item_product_message .amount {
    color: #FFF;
}

.wd-notice>*,
div.wpcf7-response-output>*,
.mc4wp-alert>*,
.woocommerce-error>*,
.woocommerce-message>*,
.woocommerce-info>*,
.dokan-alert>*,
.dokan-message>*,
.dokan-info>*,
.dokan-error>*,
.dokan-store-contact .alert-success>*,
.yith_ywraq_add_item_product_message>* {
    margin-right: 10px;
    margin-left: 10px;
}

.wd-notice .button,
div.wpcf7-response-output .button,
.mc4wp-alert .button,
.woocommerce-error .button,
.woocommerce-message .button,
.woocommerce-info .button,
.dokan-alert .button,
.dokan-message .button,
.dokan-info .button,
.dokan-error .button,
.dokan-store-contact .alert-success .button,
.yith_ywraq_add_item_product_message .button,
.wd-notice .wc-backward,
div.wpcf7-response-output .wc-backward,
.mc4wp-alert .wc-backward,
.woocommerce-error .wc-backward,
.woocommerce-message .wc-backward,
.woocommerce-info .wc-backward,
.dokan-alert .wc-backward,
.dokan-message .wc-backward,
.dokan-info .wc-backward,
.dokan-error .wc-backward,
.dokan-store-contact .alert-success .wc-backward,
.yith_ywraq_add_item_product_message .wc-backward {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    border: none;
    border-bottom: 2px solid #FFF;
    background-color: transparent;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.wd-notice .button:hover,
div.wpcf7-response-output .button:hover,
.mc4wp-alert .button:hover,
.woocommerce-error .button:hover,
.woocommerce-message .button:hover,
.woocommerce-info .button:hover,
.dokan-alert .button:hover,
.dokan-message .button:hover,
.dokan-info .button:hover,
.dokan-error .button:hover,
.dokan-store-contact .alert-success .button:hover,
.yith_ywraq_add_item_product_message .button:hover,
.wd-notice .wc-backward:hover,
div.wpcf7-response-output .wc-backward:hover,
.mc4wp-alert .wc-backward:hover,
.woocommerce-error .wc-backward:hover,
.woocommerce-message .wc-backward:hover,
.woocommerce-info .wc-backward:hover,
.dokan-alert .wc-backward:hover,
.dokan-message .wc-backward:hover,
.dokan-info .wc-backward:hover,
.dokan-error .wc-backward:hover,
.dokan-store-contact .alert-success .wc-backward:hover,
.yith_ywraq_add_item_product_message .wc-backward:hover {
    background-color: transparent;
    box-shadow: none;
    opacity: .7;
}

.wd-notice .button:focus,
div.wpcf7-response-output .button:focus,
.mc4wp-alert .button:focus,
.woocommerce-error .button:focus,
.woocommerce-message .button:focus,
.woocommerce-info .button:focus,
.dokan-alert .button:focus,
.dokan-message .button:focus,
.dokan-info .button:focus,
.dokan-error .button:focus,
.dokan-store-contact .alert-success .button:focus,
.yith_ywraq_add_item_product_message .button:focus,
.wd-notice .wc-backward:focus,
div.wpcf7-response-output .wc-backward:focus,
.mc4wp-alert .wc-backward:focus,
.woocommerce-error .wc-backward:focus,
.woocommerce-message .wc-backward:focus,
.woocommerce-info .wc-backward:focus,
.dokan-alert .wc-backward:focus,
.dokan-message .wc-backward:focus,
.dokan-info .wc-backward:focus,
.dokan-error .wc-backward:focus,
.dokan-store-contact .alert-success .wc-backward:focus,
.yith_ywraq_add_item_product_message .wc-backward:focus {
    box-shadow: none;
}

.wd-notice .vc_message_box-icon,
div.wpcf7-response-output .vc_message_box-icon,
.mc4wp-alert .vc_message_box-icon,
.woocommerce-error .vc_message_box-icon,
.woocommerce-message .vc_message_box-icon,
.woocommerce-info .vc_message_box-icon,
.dokan-alert .vc_message_box-icon,
.dokan-message .vc_message_box-icon,
.dokan-info .vc_message_box-icon,
.dokan-error .vc_message_box-icon,
.dokan-store-contact .alert-success .vc_message_box-icon,
.yith_ywraq_add_item_product_message .vc_message_box-icon {
    display: none;
}

.wpcf7-mail-sent-ok,
.wpcf7 form.sent .wpcf7-response-output,
.mc4wp-success,
.woocommerce-message,
.dokan-store-contact .alert-success,
.dokan-alert-success,
.dokan-message,
.yith_ywraq_add_item_product_message {
    background-color: #459647;
}

div {

    &.wpcf7-validation-errors,
    &.wpcf7-mail-sent-ng {
        background-color: #E0B252;
    }
}

.wpcf7 form {

    &.invalid .wpcf7-response-output,
    &.unaccepted .wpcf7-response-output,
    &.spam .wpcf7-response-output,
    &.failed .wpcf7-response-output,
    &.aborted .wpcf7-response-output {
        background-color: #E0B252;
    }
}

.mc4wp-error,
.mc4wp-notice,
.woocommerce-error,
.woocommerce-info,
.dokan-alert-warning,
.dokan-alert-danger,
.dokan-alert-info,
.dokan-error,
.dokan-info {
    background-color: #E0B252;
}


.wd-notice.wd-info {
    background-color: #4D93D1;
}

.notifications-sticky {

    div.wpcf7-response-output,
    .mc4wp-alert,
    .woocommerce-error,
    .woocommerce-message,
    .woocommerce-info,
    .yith_ywraq_add_item_product_message {
        position: fixed;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        margin: 0;
        cursor: pointer;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
        -webkit-animation: wd-fadeInUpBig .35s ease .5s both;
        animation: wd-fadeInUpBig .35s ease .5s both;
    }

    div.wpcf7-response-output:after,
    .mc4wp-alert:after,
    .woocommerce-error:after,
    .woocommerce-message:after,
    .woocommerce-info:after,
    .yith_ywraq_add_item_product_message:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        background-color: rgba(0, 0, 0, 0.1);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        transition: background-color .25s ease;
        content: "\f112";
        font-family: "woodmart-font";
    }

    div.hidden-notice.wpcf7-response-output {
        -webkit-animation: wd-fadeOutDownBig .35s ease both;
        animation: wd-fadeOutDownBig .35s ease both;
    }

    .hidden-notice {

        &.mc4wp-alert,
        &.woocommerce-error,
        &.woocommerce-message,
        &.woocommerce-info,
        &.yith_ywraq_add_item_product_message {
            -webkit-animation: wd-fadeOutDownBig .35s ease both;
            animation: wd-fadeOutDownBig .35s ease both;
        }
    }

    div.wpcf7-response-output:hover:after,
    .mc4wp-alert:hover:after,
    .woocommerce-error:hover:after,
    .woocommerce-message:hover:after,
    .woocommerce-info:hover:after,
    .yith_ywraq_add_item_product_message:hover:after {
        background-color: rgba(0, 0, 0, 0.2);
    }

    div.wpcf7-response-output,
    .mc4wp-alert,
    .woocommerce-error,
    .woocommerce-message,
    .woocommerce-info,
    .yith_ywraq_add_item_product_message {
        position: fixed;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        margin: 0;
        cursor: pointer;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
        -webkit-animation: wd-fadeInUpBig .35s ease .5s both;
        animation: wd-fadeInUpBig .35s ease .5s both;
    }

    div.wpcf7-response-output:after,
    .mc4wp-alert:after,
    .woocommerce-error:after,
    .woocommerce-message:after,
    .woocommerce-info:after,
    .yith_ywraq_add_item_product_message:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        background-color: rgba(0, 0, 0, 0.1);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        transition: background-color .25s ease;
        content: "\f112";
        font-family: "woodmart-font";
    }

    div.hidden-notice.wpcf7-response-output {
        -webkit-animation: wd-fadeOutDownBig .35s ease both;
        animation: wd-fadeOutDownBig .35s ease both;
    }

    .hidden-notice {

        &.mc4wp-alert,
        &.woocommerce-error,
        &.woocommerce-message,
        &.woocommerce-info,
        &.yith_ywraq_add_item_product_message {
            -webkit-animation: wd-fadeOutDownBig .35s ease both;
            animation: wd-fadeOutDownBig .35s ease both;
        }
    }

    div.wpcf7-response-output:hover:after,
    .mc4wp-alert:hover:after,
    .woocommerce-error:hover:after,
    .woocommerce-message:hover:after,
    .woocommerce-info:hover:after,
    .yith_ywraq_add_item_product_message:hover:after {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@-webkit-keyframes wd-fadeOutDownBig {
    from {
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes wd-fadeOutDownBig {
    from {
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes wd-fadeInUpBig {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wd-fadeInUpBig {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}