.woof{
    .widget_price_filter{
        .ui-slider{
            .ui-slider-range, .ui-slider-handle{
                background: @brand-color !important;
                border-color: #ffffff !important;
            }
        }
        .price_slider_amount{
            text-align: left !important;
            .price_label{
                float: none !important;
            }
        }
    }

    .woof_block_html_items{
        .select2{
            display:none;
        }
        .chosen-container-multi{
            width: 100% !important;
            .chosen-choices li.search-field input[type="text"]{
                min-height: 26px !important;
            }
        }
    }
    .button.woof_reset_search_form{
        .button(@white-lighter, @brand-color);
        padding: 4px 12px;
    }
    .woof_checkbox_term[type="checkbox"]:checked + label::after{
        top: 7px !important;
    }
}


.woof_show_auto_form, .woof_hide_auto_form{
    background: none !important;
    width: 100% !important;
}

.woof_show_auto_form:after{
    content: '+ Mostrar filtros';
    .button(@white-lighter, @brand-color);
    padding: 0 5px;
}

.woof_hide_auto_form:after{
    content: '- Ocultar filtros';
    .button(@white-lighter, @brand-color);
    padding: 0 5px;
}