.header-parts{
    display: flex;
    align-items: center;
    .site-title{
        flex: 1;
        img{
            max-width: 250px !important;
            padding-right: 10px;
            @media (max-width: 1100px){
                padding-right: 0;
            }
        }
    }
    .site-navigation, .sidebar-container{
        flex: 2;
    }

    .azqf-query-form > .wrapper{
        .s-wrapper{
            width: 70%;
            @media (max-width: 1100px){
                margin: 10px 0;
            }
        }
        .submit{
            width: 30%;
        }
        > *{
            padding: 0 5px;
        }

        @media (max-width: 1100px){
            margin-bottom: 10px;    
        }

    }
    
    @media (max-width: 1100px){
        display: block;
        .mobile-menu-button{
            float: right;
            span{
                font-size: 2em;
            }
        }
    }
}