form.login{
    .lost_password, .form-row:not(.form-row-wide){
        text-align: center;
    }
    .wc-social-login{
        text-align: center;
        .ywsl-label{
            margin-bottom: 0;
        }
    }
}

form.register{
    .form-row:last-child{
        text-align: center;
    }
}