/**components**/
@import 'components/header.less';
@import 'components/filters.less';
@import 'components/login.less';
@import 'components/footer.less';

.wpb_single_image{
    figure{
        width: 100%;
        a{
            width: 100%;
        }
    }
}

.vc_wp_categories{
    ul li.cat-item{
        a img{
        width: 30px;
        padding: 10px 5px 10px 0;
        }
    }
}

.shop-product .entry-footer .yith-wcwl-add-to-wishlist{
    text-align: right;
}
.featured-product .entry .yith-wcwl-add-to-wishlist{
    text-align: center;
}

.dokan-form-control:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, textarea.form-control:focus {
    border-color: @accent-1-color !important;
}