.multipleInput-container {
    border:1px #ccc solid;
    padding:1px;
    padding-bottom:0;
    cursor:text;
    font-size:13px;
    width:100%;
}

.multipleInput-container input {
    font-size:13px;
    clear:both;
    width:100%;
    border:0;
    margin-bottom:1px;
}

.multipleInput-container ul {
    list-style-type:none;
    margin: 0;
}

li.multipleInput-entry {
    float:left;
    margin-right:2px;
    margin-bottom:1px;
    border:1px #BBD8FB solid;
    padding:2px;
    background:#F3F7FD;
}

.multipleInput-close {
    width:16px;
    height:16px;
    display:block;
    float:right;
    margin:0 3px;
    text-decoration: none;
}

.multipleInput-close::before{
    content: '✖';
    color: black;
}