/*!
 Theme Name:   Kupon Child
 Description:  Kupon Child Theme
 Author:       dgk
 Template:     kupon
 Version:      0.0.1
 Text Domain:  AZEXO
*/

/**abstracts**/
@import
  'abstracts/variables',
  'abstracts/mixins';



//**components styles**
@import
  'components/header',
  'components/filters',
  'components/wc-notices';

//**pages styles**
// @import
//   'pages/store';

form.login{
  .wc-social-login:nth-of-type(2){
    display:none;
  }
}

.anr_captcha_field iframe{
  height: 78px !important;
}